body{
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

div{
    text-align: center;

}

.voltar{
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

@media(max-width:463px){
    div{
        width: 100%;
        height: 100%;
        display: flex;
        margin-right: 10px;
    }
}